<div id="album-card" class="group m-2 p-2 cursor-pointer bg-gray-400 border border-red-dark hover:shadow-inner">
    <div id="album-id" class="hidden">{{id}}</div>
    <img id="album-picture" src="{{#if small}}{{cover_small}}{{else}}{{cover_medium}}{{/if}}" class="rounded-md m-auto group-hover:opacity-75">
    <div id="album-name" class="text-center {{#unless small}}w-250 m-auto{{/unless}} group-hover:opacity-75">{{title}}</div>
</div>