<div id="album-card" class="m-2 p-2 border cursor-pointer">
    {{!-- <div id="album-card"> --}}
    <div id="album-id" class="hidden">{{id}}</div>
    <img id="album-picture" src="{{#if small}}{{cover_small}}{{else}}{{cover_medium}}{{/if}}" class="rounded-md m-auto">
    <div id="album-name" class="text-center">{{title}}</div>
</div>