<div id="artist-card" class="group w-fit{{#if medium}}h-[325px]{{else}}h-fit{{/if}} m-2 p-2 border-2 border-red-dark rounded-md cursor-pointer bg-gray-400 hover:ring-1 hover:ring-red-dark transition ease-in-out">
    <div id="artist-id" class="hidden">{{id}}</div>
    <img id="artist-img" src="{{#if medium}}{{picture_medium}}{{else}}{{picture_small}}{{/if}}" class="{{#if round}}rounded-full{{else}}rounded-md{{/if}} m-auto group-hover:opacity-50 transition ease-in-out">
    <div id="artist-name" class="text-center {{#if medium}}w-250 p-1{{else}}w-32{{/if}} group-hover:opacity-75 transition ease-in-out">{{name}}</div>
</div>