<div id="artist-card" class="group w-fit h-[325px] mx-auto my-5 p-5 border border-red-dark rounded-sm cursor-pointer bg-gray-400 hover:border-2">
    <div id="artist-id" class="hidden">{{id}}</div>
    <img id="artist-img" src="{{#if medium}}{{picture_medium}}{{else}}{{picture_small}}{{/if}}" class="{{#if round}}rounded-full{{else}}rounded-md{{/if}} m-auto group-hover:opacity-75">
    <div id="artist-name" class="text-center {{#if medium}}w-250 p-1{{/if}} group-hover:opacity-75">{{name}}</div>
</div>