<div id="artist-card" class="w-fit h-[325px] mx-auto my-5 p-5 border rounded-sm cursor-pointer">
    <div id="artist-id" class="hidden">{{id}}</div>
    <img id="artist-img" src="{{#if medium}}{{picture_medium}}{{else}}{{picture_small}}{{/if}}" class="{{#if round}}rounded-full{{else}}rounded-md{{/if}} m-auto">
    <div id="artist-name" class="text-center {{#if medium}}w-250 p-1{{/if}}">{{name}}</div>
</div>