<div id="album-card" class="m-2 p-1 cursor-pointer bg-gray-100">
    <div id="album-id" class="hidden">{{id}}</div>
    <img id="album-picture" src="{{#if small}}{{cover_small}}{{else}}{{cover_medium}}{{/if}}" class="rounded-md m-auto hover:opacity-75">
    <div id="album-name" class="text-center {{#unless small}}w-250 m-auto{{/unless}}">{{title}}</div>
</div>