{{#if artistType}}
    <tr class='border-b'>
        <td class='p-2 text-center'><a
                class='text-sky-400'
                href='{{url}}'
                target='_blank'
            >{{venue.city.name}}</a></td>
        {{!-- <td class='p-2 text-center'><a
                class='text-sky-400'
                {{! Update when deploying to production }}
                href='localhost:3001/info/setlists/venue/{{format_venue_name
                    venue.name
                }}'
                target='_blank'
            >{{venue.name}}</a></td> --}}
        <td class='p-2 text-center'>{{venue.name}}</td>
        <td class='p-2 text-center'>
            {{eventDate}}
            <button
                class='border-solid border-2 border-red-dark bg-black p-1.5 m-1 rounded-lg hover:opacity-75'
            >I attended this show!</button>
        </td>
    </tr>
{{/if}}
{{#if venueType}}
    <tr class='border-b'>
        <td class='p-2 text-center'>{{artist.name}}</td>
        <td class='p-2 text-center'><a
                class='text-sky-400'
                href='{{url}}'
                target='_blank'
            >{{eventDate}}</a></td>
        <td class='p-2 text-center'>{{tour.name}}</td>
    </tr>
{{/if}}
{{! 
Setlist info is returned as follows:

{
	"type": "setlists",
	"itemsPerPage": 20,
	"page": 1,
	"total": 2470,
	"setlist": [
		{
			"id": "39d9997",
			"versionId": "4b0e5f66",
			"eventDate": "15-10-2019",
			"lastUpdated": "2019-10-16T02:52:38.000+0000",
			"artist": {
				"mbid": "ca891d65-d9b0-4258-89f7-e6ba29d83767",
				"name": "Iron Maiden",
				"sortName": "Iron Maiden",
				"disambiguation": "English heavy metal band",
				"url": "https://www.setlist.fm/setlists/iron-maiden-3bd6803c.html"
			},
			"venue": {
				"id": "63d622c3",
				"name": "Estadio Nacional",
				"city": {
					"id": "3871336",
					"name": "Santiago",
					"state": "Región Metropolitana",
					"stateCode": "12",
					"coords": {
						"lat": -33.426,
						"long": -70.567
					},
					"country": {
						"code": "CL",
						"name": "Chile"
					}
				},
				"url": "https://www.setlist.fm/venue/estadio-nacional-santiago-chile-63d622c3.html"
			},
			"tour": {
				"name": "Legacy of the Beast"
			},
			"sets": {
				"set": [
					{
						"song": [
							{
								"name": "Transylvania",
								"tape": true,
								"info": "Legacy of the Beast videogame promo on screen"
							},
							{
								"name": "Doctor Doctor",
								"tape": true,
								"cover": {
									"mbid": "c0bf9e20-2872-4897-ad1f-0882b83272a0",
									"name": "UFO",
									"sortName": "UFO",
									"disambiguation": "British space rock/hard rock band",
									"url": "https://www.setlist.fm/setlists/ufo-23d6acff.html"
								}
							},
							{
								"name": "Churchill's Speech",
								"tape": true
							},
							{
								"name": "Aces High"
							},
							{
								"name": "Where Eagles Dare"
							},
							{
								"name": "2 Minutes to Midnight"
							},
							{
								"name": "The Clansman"
							},
							{
								"name": "The Trooper"
							},
							{
								"name": "Revelations"
							},
							{
								"name": "For the Greater Good of God"
							},
							{
								"name": "The Wicker Man"
							},
							{
								"name": "Sign of the Cross"
							},
							{
								"name": "Flight of Icarus"
							},
							{
								"name": "Fear of the Dark"
							},
							{
								"name": "The Number of the Beast"
							},
							{
								"name": "Iron Maiden"
							}
						]
					},
					{
						"encore": 1,
						"song": [
							{
								"name": "The Evil That Men Do"
							},
							{
								"name": "Hallowed Be Thy Name"
							},
							{
								"name": "Run to the Hills"
							},
							{
								"name": "Always Look on the Bright Side of Life",
								"tape": true,
								"cover": {
									"mbid": "4a5c8526-f8ec-43f1-97af-49722ad88394",
									"name": "Monty Python",
									"sortName": "Monty Python",
									"disambiguation": "British surreal comedy group",
									"url": "https://www.setlist.fm/setlists/monty-python-13d6c1c9.html"
								}
							}
						]
					}
				]
			},
			"url": "https://www.setlist.fm/setlist/iron-maiden/2019/estadio-nacional-santiago-chile-39d9997.html"
		},
    }
}

 }}