<tr class='border-b bg-gray-400'>
    <td class='p-2' width='40%'>{{title}}</td>
    <td class='p-2 text-sky-400' width='40%'><a
            href='/info/concerts/venue/{{venue.id}}'
            class='hover:underline'
        >{{venue.name}}</a></td>
    <td class='text-center p-2 text-sky-400'><a
            href='{{venue.url}}'
            class='hover:underline'
        >{{format_date datetime_local}}
            <svg
                xmlns='http://www.w3.org/2000/svg'
                class='h-4 w-4 inline text-sky-400 mb-3'
                viewBox='0 0 20 20'
                fill='currentColor'
            >
                <path
                    d='M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z'
                ></path>
                <path
                    d='M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z'
                ></path></svg></a>
    </td>
</tr>