<tr class="border-b bg-gray-400">
    <td class="p-2">{{title}}</td>
    <td class="p-2"><a href="/info/concerts/venue/{{venue.id}}" class="hover:opacity-75">{{venue.name}}</a></td>
    <td class="text-center p-2"><a href="{{venue.url}}" class="hover:opacity-75">{{format_date datetime_local}}</a></td>
</tr>