<tr class="border-b bg-gray-400">
    <td class="p-2">{{title}}</td>
    <td class="p-2 text-sky-400"><a href="/info/concerts/venue/{{venue.id}}" class="hover:underline">{{venue.name}}</a></td>
    <td class="text-center p-2 text-sky-400"><a href="{{venue.url}}" class="hover:underline">{{format_date datetime_local}}</a></td>
</tr>