<tr class="border-b bg-gray-400">
    {{#if home}}
    <td id="track-artist" class="p-2 cursor-pointer hover:opacity-75">{{artist.name}}<span
            class="hidden">{{artist.id}}</span></td>
    {{/if}}
    {{#if albumPage}}
    <td class="text-center p-2 w-auto">{{plus_one @index}}</td>
    {{/if}}
    <td id="track-title" class="p-2">{{title}} {{#if explicit_lyrics}}<img
            src="https://img.shields.io/badge/-E-000??style=for-the-badge" alt="explicit badge" class="inline">{{/if}}
    </td>
    <td id="track-time" class="text-center p-2">{{format_time duration}}</td>
    {{#unless home}}
    <td class="p-2 text-center {{#if albumPage}}table-cell{{else}}lg:table-cell hidden{{/if}}">
        {{#if preview}}
        <audio controls class="{{#if albumPage}} hidden xl:table-cell mx-auto {{else}} mx-auto{{/if}}">
            <source src="{{preview}}" type="audio/mpeg">
        </audio>
        <div class="flex justify-center items-center">
            {{!-- play button --}}
            <svg xmlns="http://www.w3.org/2000/svg" onclick="playAudio('{{preview}}')" width="50px" height="50px"
                id="play{{@index}}" class="h-6 w-6 xl:hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            {{!-- pause button --}}
            <svg xmlns="http://www.w3.org/2000/svg" onclick="pauseAudio('{{preview}}')" class="pause h-6 w-6 xl:hidden"
                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M10 9v6m4-6v6m7-3a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
        </div>
        {{else}}
        <span>No preview available!</span>
        {{/if}}
    </td>
    {{/unless}}
</tr>