<tr class="border-b">
    {{#if albumPage}}
    <td class="p-2">{{plus_one @index}}</td>
    {{/if}}
    <td class="p-2">{{title}}{{#if explicit_lyrics}}<img src="https://img.shields.io/badge/-EXPLICIT-000??style=for-the-badge" alt="">{{/if}}</td>
    <td class="text-center p-2">{{format_time duration}}</td>
    <td class="p-2 text-center">
        {{#if preview}}
        <audio controls class="mx-auto">
            <source src="{{preview}}" type="audio/mpeg">
        </audio>
        {{else}}
        <span>No preview available!</span>
        {{/if}}
    </td>
</tr>