{{> nav}}

<section class="flex">

    <div id="cover" class="my-12 ml-8">
        <img src="{{data.cover_medium}}" alt="">
    </div>

    <div class="mx-8 mt-12">
        {{#if data.explicit_lyrics}}
        <div id="explicit-bage" class="mb-8">
            <img src="https://img.shields.io/badge/-EXPLICIT-000??style=for-the-badge" alt="">
        </div>
        {{/if}}

        <div id="title" class="mb-8">{{data.title}}</div>
        <div id="artist-name" class="mb-8">
            <a href="/info/artist/">{{data.artist.name}}</a>
        </div>
        <div id="album-info">
            <span id="track-amount">{{data.nb_tracks}} tracks -</span>
            <span id="album-duration"> {{data.duration}} mins -</span>
            <span id="date">{{ format_date data.release_date}}</span>
        </div>
    </div>

</section>

<section id="album-tracklist">
    <div id="album-tracklist-container">
        <table class="table-fixed w-full">
            <thead>
                <tr class="bg-gray-400 h-10">
                    <th>#</th>
                    <th>Name</th>
                    <th>Duration</th>
                    <th>Preview</th>
                </tr>
            </thead>
            <tbody>
                {{#each data.tracks.data}}
                {{>track-card albumPage='true'}}
                {{/each}}
            </tbody>
        </table>
    </div>
</section>

<script src="/js/tracklist.js"></script>