{{> nav}}


{{#if loggedIn}}
<section class="flex">
    <div id="cover" class="my-12 ml-8">
        <img src="{{data.cover_medium}}" alt="">
    </div>
    <div class="flex flex-col justify-between mx-8 mt-12 h-[250px]">
        <div id="title" class="flex flex-row items-center text-4xl ">{{data.title}}
            {{#if data.explicit_lyrics}}
            <div id="explicit-bage" class="ml-4">
                <img src="https://img.shields.io/badge/-EXPLICIT-000??style=for-the-badge" alt="">
            </div>
            {{/if}}
        </div>
        <div id="artist-name" class="flex flex-row items-center text-xl ">
            <img src="{{data.artist.picture_small}}" alt="" class="rounded-full">
            <a href="/info/artist/" class="no-underline hover:underline ml-4">{{data.artist.name}}</a>
        </div>
        <div id="album-info ">
            <span id="track-amount">{{data.nb_tracks}} tracks -</span>
            <span id="album-duration"> {{ format_duration data.duration}} -</span>
            <span id="date">{{ format_date data.release_date}}</span>
        </div>
        <div class="">
            <img src="/assets/fav.svg" alt="" class="deactive" id="favBtn" width="40px" height="40px">
        </div>
    </div>
</section>
{{/if}}

{{#unless loggedIn}}
<section class="flex">
    <div id="cover" class="my-12 ml-8">
        <img src="{{data.cover_medium}}" alt="">
    </div>
    <div class="flex flex-col justify-center mx-8 mt-12 h-[250px]">
        <div id="title" class="flex flex-row items-center text-4xl">{{data.title}}
            {{#if data.explicit_lyrics}}
            <div id="explicit-bage" class="ml-4">
                <img src="https://img.shields.io/badge/-EXPLICIT-000??style=for-the-badge" alt="">
            </div>
            {{/if}}
        </div>
        <div id="artist-name" class="flex flex-row items-center text-xl py-8">
            <img src="{{data.artist.picture_small}}" alt="" class="rounded-full">
            <a href="/info/artist/" class="no-underline hover:underline ml-4">{{data.artist.name}}</a>
        </div>
        <div id="album-info ">
            <span id="track-amount">{{data.nb_tracks}} tracks -</span>
            <span id="album-duration"> {{ format_duration data.duration}} -</span>
            <span id="date">{{ format_date data.release_date}}</span>
        </div>
    </div>
</section>
{{/unless}}

<section id="album-tracklist">
    <div id="album-tracklist-container" class="p-2 m-2">
        <table class="table-fixed w-full">
            <thead>
                <tr class="bg-gray-300 h-10">
                    <th>#</th>
                    <th>Name</th>
                    <th>Duration</th>
                    <th>Preview</th>
                </tr>
            </thead>
            <tbody>
                {{#each data.tracks.data}}
                {{>track-card albumPage='true'}}
                {{/each}}
            </tbody>
        </table>
    </div>
</section>

{{#if loggedIn}}
<script src="/js/album-info.js"></script>
{{/if}}