<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album Info</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <!-- nav bar goes here-->
    <div class = "album-wrapper">
        <div id ="album-info">
            <h3>{{albumName}}</h3>
        </div>
        <div id ="track-list-wrapper">
           <p>Track List</p>
           <ol>
               <li>{{track1}}</li>
               <li>{{track2}}</li>
               <li>{{track3}}</li>
               <li>{{track4}}</li>
               <li>{{track5}}</li>
           </ol> 
        </div>
        <div id="recommended-wrapper">
            <h5>Recommended Albums</h5>
        </div>
    </div>
    <script src="js/album-info.js"></script>
</body>
</html>