{{> nav}}


<div id="artist-wrapper" class="flex justify-between items-center p-2 m-2 space-x-4">
    <div id="artist-info">
        <div id="artist-pic"><img src="{{picture}}" class="rounded-full"></div>
        <h3 class="text-center text-xl font-bold m-2">{{name}}</h3>
    </div>
    <div id = "artist-bio" class="m-3 text-center">
        {{{artistBio.artist.bio.summary}}}
    </div>

    

</div>    



    
<div id="main-carousel-div">
        {{> carousel}}
        

</div>


  

   
    <h5 class="text-center text-xl font-bold m-2">If you like {{name}} , you might like these artists</h5>
    <div id="recommended-wrapper" class="flex justify-center">
        
        {{#each recommendedArray}}
       {{> recommended-artist-card}}
       {{/each}}
    </div>

     <div id="show-wrapper">
        <h5 class="text-center text-xl font-bold m-2">Upcoming concerts by {{name}}</h5>
        <!-- shows go here -->
    </div>

    <script src="/js/artist-info.js"></script>
    