{{> nav}}
{{#if pastConcerts}}
<!-- artist info goes here -->
<div id="artist-wrapper" class="flex md:flex-row flex-col items-center p-2 m-2 space-x-4">
    <div id="artist-info mt-4">
        <div id="artist-pic"><img src="{{picture}}" class="rounded-full h-[250px] w-[250px] max-w-none"></div>
    </div>
    <div>
        <div class="flex flex-row items-center md:justify-start justify-center">
            <h3 id="name" class="text-center text-2xl font-bold m-3">{{name}}</h3>
            {{#if loggedIn}}
            <div>
                <img src="/assets/fav.svg" alt="" class="deactive absolute hover:animate-ping" id="favBtn">
                <img src="/assets/fav.svg" alt="" class="deactive relative hover:animate-ping" id="favBtn2">
            </div>
            {{/if}}
        </div>

        <div id="artist-bio" class="m-3 text-left font-bold">
            {{{artistBio.artist.bio.summary}}}<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline text-sky-400 mb-3" viewBox="0 0 20 20" fill="currentColor">
            <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
            <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" /></svg>
        </div>
    </div>
</div>

<!-- for album cards -->
<div id="main-carousel-div" class="bg-gray-100 mx-20 rounded-md">
    <div class="carousel">
        <h5 class="text-center text-5xl font-bold m-2 text-red-dark p-4">Albums</h5>
        <div id="discography-wrapper" class="bg-gray-100">

            {{#each artistAlbums.data}}
            <div class="carousel-display-item rounded-md">
                {{>carousel-card}}
            </div>
            {{/each}}
        </div>
    </div>
</div>

<!-- recommended artist section -->
<h5 class="text-center text-xl font-bold m-2">If you like {{name}}, you might like these artists</h5>

<div id="recommended-wrapper" class="flex p-2 m-2 overflow-x-auto">

    {{#each recommendedArray}}
    {{> artist-card}}
    {{/each}}
</div>

<!-- show section -->
{{!-- Upcoming concerts --}}
<div id="upcoming-concert-container" class="m-4">
    <h5 class="text-center text-xl font-bold m-2">Upcoming concerts by {{name}}</h5>
    {{#if upcomingConcerts.events}}
    <table class="table-fixed w-full rounded-md overflow-hidden" id="upcoming-concerts-table">
        <thead>
            <tr class="bg-gray-300 h-10">
                <th>City</th>
                <th>Venue</th>
                <th>Date/Time</th>
            </tr>
        </thead>
        <tbody>
            {{#each upcomingConcerts.events}}
            {{>concert-card artistType="true"}}
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <h5 class="text-center">Check back for upcoming concerts!</h5>
    {{/if}}
</div>
{{!-- Recent concerts --}}
<div id="recent-concert-container" class="m-4">
    <h5 class="text-center text-xl font-bold m-2">Recent concerts by {{name}}</h5>
    {{#if pastConcerts.setlist}}
    <table class="table-fixed w-full rounded-md overflow-hidden" id="recent-concerts-table">
        <thead>
            <tr class="bg-gray-300 h-10">
                <th>City</th>
                <th>Venue</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {{#if loggedIn}}
            {{#each pastConcerts.setlist}}
            {{>setlist-card artistType="true" loggedIn="also true"}}
            {{/each}}
            {{else}}
            {{#each pastConcerts.setlist}}
            {{>setlist-card artistType="true"}}
            {{/each}}
            {{/if}}
        </tbody>
    </table>
    {{else}}
    <h5 class="text-center">No Past Concerts Available</h5>
    {{/if}}
</div>
{{else}}
<section id="no-content" class="m-4">
    <div id="no-content-container" class="flex md:flex-row flex-col justify-center">
        <img src="https://robohash.org/helper.png?set=set4&size=150x150" class="m-2 self-center h-[150px] w-[150px]">
        <span class="text-2xl self-center m-2 text-center">Oops... There is no information available for this artist yet!</span>
    </div>
</section>
{{/if}}
<!-- footer -->
{{> footer}}

<script src="/js/artist-info.js"></script>