{{!-- Navbar --}}
{{> nav}}

{{!-- Profile bar --}}
<section id="user-info" class="m-3 p-2 container mx-auto grid grid-cols-4 gap-4">
    <div class="profile-pic-container justify-self-center col-auto">
        <img src="https://robohash.org/{{data.username}}.png?set=set4&size=150x150">
    </div>
    <div id="info-container" class="col-span-3 p-4 rounded-md border-2 border-gray-200">
        <h2 class="text-xl font-bold border-b text-red-dark">User Info: {{data.username}}</h2>
        <p><a href="mailto: {{data.email}}" class="text-sky-400" target='_blank'>{{data.email}}</a></p>
        <p>Member since: {{format_date data.createdAt}}</p>
        <p>I've attended {{data.count}} shows.</p>
        </br>
        <div class="text-right"><button id="delete-account" type="button" class="text-xs text-red-dark">Delete my Account</button><div>
    </div>
</section>

{{!-- Favorites --}}
<section id="favorites" class="m-3 p-2 container mx-auto grid grid-cols-2 gap-4">
    {{!-- Bands --}}
    <div id="artist-favorites" class="rounded-md border-2 border-gray-200 col-auto p-4">
        <h2 class="text-xl font-bold border-b text-red-dark">My Favorite Artists</h2>
        {{#each data.artistfavorites}}
            <p><a href="/info/artist/{{dataValues.artist_id}}" class="text-sky-400">{{dataValues.artist_name}}</a></p>
        {{/each}}    
    </div>
    {{!-- Albums --}}
    <div id="album-favorites" class="rounded-md border-2 border-gray-200 col-auto p-4">
        <h2 class="text-xl font-bold border-b text-red-dark">My Favorite Albums</h2>
        {{#each data.albumfavorites}}
            <p><a href="/info/album/{{dataValues.album_id}}" class="text-sky-400">{{dataValues.album_name}}</a></p>
        {{/each}}  
    </div>
</section>

{{!-- Shows attended --}}
<section id="concerts-container" class="m-3 p-2 container mx-auto">
    <div id="attended-shows" class="rounded-md border-2 border-gray-200 col-auto p-4">
        <h2 class="text-xl font-bold border-b text-red-dark">Concerts I've Attended</h2>
        {{#each data.savedconcerts}}
            <p>{{dataValues.artist_name}} at {{dataValues.venue_name}} – <a href={{dataValues.setlist_url}} class="text-sky-400" target="_blank">{{dataValues.date}}</a></p>
        {{/each}}    
    </div>
</section>

{{!-- Footer --}}
{{>footer}}

{{!-- JS link --}}
<script src="/js/dashboard.js"></script>