{{!-- Navbar --}}
{{> nav}}

{{!-- Content --}}
<h1 id="dashboard-header">Dashboard</h1>

{{!-- Profile bar --}}
<div id="profile-bar">
    <div id="profile-pic">
        <img src="https://via.placeholder.com/150/000000/FFFFFF/?Text=Badass+Profile+Pic" alt="Profile Picture">
    </div>
    <div id="user-info">
        <span id="username">User Name</span>
        <p id="user-details">Random user details</p>
    </div>
</div>

{{!-- Favorite bands box --}}
<div id="favorite-bands">
    {{!-- Flexbox --}}
    <div>Band 1</div>
    <div>Band 2</div>
    <div>Band 3</div>
</div>

{{!-- Shows attended box --}}
<div id="shows-attended">
    {{!-- Flexbox, but vertically aligned --}}
    <div>Show Card 1</div>
    <div>Show Card 2</div>
    <div>Show Card 3</div>
    <div>Show Card 4</div>
    <div>Show Card 5</div>
    <div>Show Card 6</div>
</div>

<section id="user-info" class="border m-3 p-2">
    <h2 class="text-xl font-bold border-b">User Info</h2>
    <img src="https://robohash.org/{{data.username}}.png?set=set4">
    <p>{{data.email}}</p>
    <p>{{data.username}}</p>
    <p>{{format_date data.createdAt}}</p>
    <p>Show Count: {{data.count}}</p>
</section>

<section id="artist-favorites" class="border m-3 p-2">
    <h2 class="text-xl font-bold border-b">Artist Favorites</h2>
    {{#each data.artistfavorites}}
        <p>{{dataValues.artist_name}}</p>
        <p class="border-b">{{dataValues.artist_id}}</p>
    {{/each}}    
</section>

<section id="album-favorites" class="border m-3 p-2">
    <h2 class="text-xl font-bold border-b">Album Favorites</h2>
    {{#each data.albumfavorites}}
        <p>{{dataValues.album_name}}</p>
        <p class="border-b">{{dataValues.album_id}}</p>
    {{/each}}  
</section>

<section id="saved-concerts" class="border m-3 p-2">
    <h2 class="text-xl font-bold border-b">Concerts</h2>
    {{#each data.savedconcerts}}
        <p>{{dataValues.artist_name}}</p>
        <p>{{dataValues.date}}</p>
        <p class="border-b">{{dataValues.venue_name}}</p>
    {{/each}}    
</section>

{{!-- Footer --}}
{{>footer}}
{{!-- JS link --}}
<script src="/js/dashboard.js"></script>