{{!-- Navbar --}}
{{> nav}}

{{!-- Content --}}
<h1 id="dashboard-header" class="m-3 text-2xl font-bold text-center">{{setlists.setlist.0.venue.name}}</h1>

<section id="general-info-container" class="flex flex-col justify-between border rounded-md m-auto my-3 w-3/4 bg-gray-400">
    {{#if artistType}}    
        <p id="artist-name">
            Artist: {{setlists.setlist.[0].artist.name}}
        </p>
    {{/if}}
    {{#if venueType}}
    <div id="venue-map" class="w-auto m-3">
        <iframe class="w-full h-64" frameborder="1" scrolling="yes" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=500&amp;height=250&amp;hl=en&amp;q={{setlists.setlist.0.venue.name}}&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
        </iframe>
    </div>
    <div id="venue-info-container" class="p-2">
        <p id="venue-address" class="text-center text-xl">{{setlists.setlist.0.venue.city.name}}, {{setlists.setlist.0.venue.city.state}}. {{setlists.setlist.0.venue.city.country.code}}</p>
        <p id="venue-address" class="text-center p-1">Get tickets at <a href={{setlists.setlist.0.venue.url}} target="_blank" class="text-sky-400 hover:underline">setlist.fm<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline text-sky-400 mb-3" viewBox="0 0 20 20" fill="currentColor">
            <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
            <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" /></svg></a>
        </p>
    </div>
    {{/if}}
</section>

<section id="concert-info-container" class="m-3">
    <table class="table-fixed w-full rounded-t-md overflow-hidden" id="concerts-table">
        {{#if artistType}}
            <thead>
                <tr class="bg-gray-300 h-10">
                    <th>Date</th>
                    <th>Venue</th>
                    <th>Tour</th>
                </tr>
            </thead>
            <tbody>
                {{#each setlists.setlist}}
                    {{>setlist-card artistType="true"}}
                {{/each}}
            </tbody>
        {{/if}}
        {{#if venueType}}
            <thead>
                <tr class="bg-gray-300 h-10">
                    <th>Artist</th>
                    <th>Date</th>
                    <th>Tour</th>
                </tr>
            </thead>
            <tbody>
                {{#each setlists.setlist}}
                    {{>setlist-card venueType="true"}}
                {{/each}}
            </tbody>
        {{/if}}
    </table>
</section>

{{> footer}}