{{> nav}}

<section class="album-wrapper">

    <div id="cover">
        <img src="{{data.cover}}" alt="">
    </div>

    {{#if data.explicit_lyrics}}
    <div id="explicit-bage">
        <img src="https://img.shields.io/badge/-EXPLICIT-000??style=for-the-badge" alt="">
    </div>
    {{/if}}

    <div id="title">{{data.title}}</div>
    <div id="artist-name">{{data.artist.name}}</div>
    <div id="album-info">
        <span id="track-amount">{{data.nb_tracks}} tracks -</span>
        <span id="album-duration"> {{data.duration}} mins -</span>
        <span id="release-date">{{data.release_date}}</span>
    </div>


</section>

<section id="track-results">
    <h2 id="track-results-header" class="text-xl font-bold m-2">Tracks</h2>
    <div id="track-results-container">
        <table class="table-fixed w-full">
            <thead>
                <tr class="bg-gray-400 h-10">
                    <th>#</th>
                    <th>Name</th>
                    <th>Duration</th>
                    <th>Preview</th>
                </tr>
            </thead>
            <tbody>
                {{#each data.tracks.data}}
                {{> search-track-card}}
                {{/each}}
            </tbody>
        </table>
    </div>
</section>