<section class="tracklist">

    <div id="album-name">
        <h3>{{AlbumName}}</h3>
    </div>

    {{!-- new div per however many tracks. (hardcoding for now) --}}

    <div class="tracklist-wrapper">
        <div>{{Track1}}</div>
        <div>{{Track2}}</div>
        <div>{{Track3}}</div>
        <div>{{Track4}}</div>
        <div>{{Track5}}</div>
        <div>{{Track6}}</div>
        <div>{{Track7}}</div>
        <div>{{Track8}}</div>
        <div>{{Track9}}</div>
        <div>{{Track10}}</div>
        <div>{{Track11}}</div>
        <div>{{Track12}}</div>
        <div>{{Track13}}</div>
        <div>{{Track14}}</div>
        <div>{{Track15}}</div>
        <div>{{Track16}}</div>
        <div>{{Track17}}</div>
        <div>{{Track18}}</div>
        <div>{{Track19}}</div>

    </div>



</section>

<script src=" js/tracklist.js">
</script>